@{
    ViewData["Title"] = "Benutzer- und Gebührenordnung";
}

<h2>Benutzererklärung gültig ab 1.1.2019</h2>

<div class="mb-3">
    <h3><i class="fa fa-user-circle" aria-hidden="true"></i> Anmeldung:</h3>
    Der Benutzer erkennt durch seine Unterschrift die Benutzer- und Gebührenordnung
    an und erhält einen Benutzerausweis (Jahreskarte). Kinder unter 14 Jahren haben
    die Erlaubnis eines Erziehungsberechtigten nachzuweisen.
</div>

<div class="mb-3">
    <h3><i class="fa fa-shopping-basket" aria-hidden="true"></i> Entlehnung:</h3>
    Gegen Vorlage des Benutzerausweises können Medien entlehnt werden. Die
    Entlehndauer für Bücher beträgt 4 Wochen. Vor Ablauf der Entlehndauer kann sie 1
    mal um weitere 4 Wochen verlängert werden (telefonisch oder persönlich während
    der Öffnungszeiten). Für Zeitschriften ist die Entlehndauer 2 Wochen. Diese und
    auch die digitalen Medien können nicht verlängert werden. Sie können Medien auch
    reservieren lassen. Wenn das Medium verfügbar ist, erhalten Sie eine
    Verständigung. Es wird dann 1 Woche für Sie bereitgehalten.
</div>

<div class="mb-3">
    <h3><i class="fa fa-gavel" aria-hidden="true"></i> Haftung und Sonstiges:</h3>
    Der Entlehner verpflichtet sich, die Medien sorgsam zu behandeln und verlorene,
    be-schädigte, beschmutzte oder unbrauchbar gewordene Medien zu ersetzen. Die
    Büchereileitung ist berechtigt, Personen, die gegen die Bestimmungen dieser
    Be-nutzerordnung oder Anordnungen des Personals verstoßen, zeitweise oder ganz
    von der Benutzung der Bücherei auszuschließen, ohne dass ein Anspruch auf
    Rückerstattung der geleisteten Gebühren besteht. Für mitgebrachte Gegenstände,
    insbesondere Garderobe, wird keine Haftung übernommen.
</div>

<div class="mt-3 mb-3">
    <h3>Gebühren:</h3>

    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            <h4><i class="fa fa-id-card-o" aria-hidden="true"></i> Jahreskarten, jeweils ab Ausstellungsdatum</h4>
            <ul class="list-group">
                <li class="list-group-item">Kinder unter 14 Jahre 0,00 Euro</li>
                <li class="list-group-item">Jugendliche und Erwachsene 10,00 Euro</li>
                <li class="list-group-item">Bei Familien zahlt nur 1 Person (welche im gleichen Haushalt leben)</li>
            </ul>
        </div>

        <div class="col-12 col-lg-6 mb-3">
            <h4><i class="fa fa-bomb" aria-hidden="true"></i> Versäumnis - und Mahngebühr nach Ablauf der Entlehnfrist</h4>
            <ul class="list-group">
                <li class="list-group-item">Bücher und Zeitschriften 0,30 Euro pro Medium</li>
                <li class="list-group-item">Mahngebühr 2,00 Euro, für Schüler der MS Klaus-Weiler-Fraxern 1,00 Euro</li>
            </ul>
        </div>

        <div class="col-12">
            <h4>Sonstiges</h4>
            <ul class="list-group">
                <li class="list-group-item">Bücher und Zeitschriften sind innerhalb der Entlehndauer gratis.</li>
                <li class="list-group-item">Für CDs beträgt die Entlehngebühr 0,50 Euro und für DVDs 1,00 Euro pro angefangene Woche.</li>
                @*<li class="list-group-item">Reservierung 0,50 Euro (sie werden Tel. verständigt)</li>*@
                <li class="list-group-item">Verlust des Leserausweises 1,00 Euro</li>
            </ul>
        </div>
    </div>
</div>


<br />
<a class="btn btn-default" href="/Content/Einverstaendniserklaerung.pdf">Einverständniserklärung</a>