@{
    ViewData["Title"] = "Links";
}

<h2>Links</h2>

<ul class="list-group">
    <li class="list-group-item"><a href="http://www.klaus.at">Gemeinde Klaus</a></li>
    <li class="list-group-item"><a href="http://www.gemeinde-weiler.at">Gemeinde Weiler</a></li>
    <li class="list-group-item"><a href="http://www.vobs.at/vms-klaus">Mittelschule Klaus-Weiler-Fraxern</a></li>
    <li class="list-group-item"><a href="http://www.vlb.vorarlberg.at">Landesbibliothek</a></li>
    <li class="list-group-item"><a href="http://www.mediathek-vorarlberg.at">Mediathek Vorarlberg</a></li>
    <li class="list-group-item"><a href="http://publicholiday.azurewebsites.net">Weltweite Feiertage</a></li>
</ul>