@{
    ViewData["Title"] = "Subventionsgeber";
}

<h2>Subventionsgeber</h2>

Vielen Dank für Ihre Unterstützung<br />
<br />

<div class="row">
    <div class="col-xs-12 col-lg-4">
        <a href="http://www.klaus.at">
            <img src="/Subventions_Logo/GemeindeKlaus.jpg" class="img-responsive" alt="Gemeinde Klaus" title="Gemeinde Klaus" /><br />
        </a>
    </div>
    <div class="col-xs-12 col-lg-4">
        <a href="http://www.weiler.at">
            <img src="/Subventions_Logo/GemeindeWeiler.jpg" class="img-responsive" alt="Gemeinde Weiler" title="Gemeinde Weiler" /><br />
        </a>
    </div>
    <div class="col-xs-12 col-lg-4">
        <a href="http://www.klaus.at">
            <img src="/Subventions_Logo/PfarrgemeindeKlaus.jpg" class="img-responsive" alt="Pfarrgemeinde Klaus" title="Pfarrgemeinde Klaus" /><br />
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12 col-lg-4">
        <a href="https://www.gemeinde-weiler.at/organisation-und-wirtschaft/pfarre/">
            <img src="/Subventions_Logo/PfarrgemeindeWeiler.jpg" class="img-responsive" /><br />
            Pfarrgemeinde Weiler
        </a>
    </div>
    <div class="col-xs-12 col-lg-4">
        <a href="http://www.vorarlberg.at/">
            <img src="/Subventions_Logo/LandVorarlberg.jpg" class="img-responsive" /><br />
            Land Vorarlberg
        </a>
    </div>
    <div class="col-xs-12 col-lg-4">
        <a href="http://www.kunstkultur.bka.gv.at/site/7984/default.aspx">
            <img src="/Subventions_Logo/bmuk.jpg" class="img-responsive"/><br />
            Bundeskanzleramt Österreich
        </a>
    </div>
    <div class="col-xs-12 col-lg-4">
        <a href="http://www.bvoe.at/">
            <img src="/Subventions_Logo/bvo.jpg" class="img-responsive" /><br />
            Büchereiverband Österreich
        </a>
    </div>
    <div class="col-xs-12 col-lg-4">
        <a href="http://www.kath-kirche-vorarlberg.at/">
            <img src="/Subventions_Logo/KatholischeKircheVorarlberg.jpg" class="img-responsive" /><br />
            Katholische Kirche Vorarlberg
        </a>
    </div>
</div>