@{
    ViewBag.Title = "Impressum";
}

<h2>Impressum</h2>
<br />
<strong>Öffentliche Bibliothek Klaus - Weiler</strong><br />
Treietstrasse 17b<br />
6833 Klaus<br />
<br />
Telefon:	+43 5523 62750-16<br />
Email: <a href="mailto:info@bibliothek.at">info@bibliothek.at</a>
<br />
<br />

Alle Angaben erfolgen ohne Gewähr. Eine Haftung für Schäden, die sich aus der Verwendung der abgerufenen 
Informationen und Anwendungen ergeben, ist ausgeschlossen.<br />
<br />
<h4>Externe Links:</h4>
Da externe Links nachträglich verändert oder aktualisiert werden können, distanziert sich die Öffentliche 
Bibliothek Klaus - Weiler von den Inhalten fremder Sites. Für illegale, fehlerhafte oder unvollständige 
Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener 
Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, 
der über Links auf die jeweilige Seite lediglich verweist.<br />
<br />
<h4>Urheberrecht:</h4>
Layout und Gestaltung des Angebots insgesamt sowie seiner einzelnen Elemente, wie Logos, Fotos, Wappen usw. 
sind urheberrechtlich geschützt. Gleiches gilt für die redaktionellen Beiträge. Veränderungen daran dürfen nicht 
vorgenommen werden. Eine öffentliche Verwendung des Angebots darf nur mit Zustimmung des Urhebers erfolgen.<br />
<br />
<h4>Amazon Partnerprogramm:</h4>
Die Öffentliche Bibliothek Klaus - Weiler ist Teilnehmer des Partnerprogramms von Amazon Europe S.à r.l. und Partner 
des Werbeprogramms, das zur Bereitstellung eines Mediums für Websites konzipiert wurde, mittels dessen durch die 
Platzierung von Werbeanzeigen und Links zu Amazon.de Werbekostenerstattung verdient werden kann.
