<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.4.1" targetFramework="net48" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net48" />
  <package id="Google.Apis" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Calendar.v3" version="1.57.0.2696" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.57.0" targetFramework="net48" />
  <package id="jQuery" version="3.0.0" targetFramework="net48" />
  <package id="log4net" version="2.0.10" targetFramework="net48" />
  <package id="MailChimp.NET" version="1.1.92" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="MySql.Data" version="6.10.4" targetFramework="net48" />
  <package id="Nager.AmazonProductAdvertising" version="1.0.29" targetFramework="net48" />
  <package id="Nager.ArticleNumber" version="1.0.3" targetFramework="net48" />
  <package id="Nager.Date" version="1.12.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net48" />
  <package id="SimpleInjector" version="4.0.12" targetFramework="net48" />
  <package id="SimpleInjector.Integration.Web" version="4.0.12" targetFramework="net48" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="4.0.12" targetFramework="net48" />
  <package id="SimpleMvcSitemap" version="3.1.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
</packages>