@{
    ViewBag.Title = "Newsletter";
}

<h2>Newsletter <small>Erfahren sie als erstes über Neuerscheinungen und kommende Veranstaltungen</small></h2>
Um sich beim Newsletter der Bibliothek Klaus Weiler anzumelden tragen sie bitte unten ihre Email Adresse ein.<br />
Wir senden ihnen dann ein Verifizierungsmail das sie noch bestätigen müssen. Der Newsletter wird monatlich versendet.<br />
<br />

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <form method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email Adresse</label>
                <input type="email" class="form-control" name="emailAddress" placeholder="Email" />
            </div>
            <button type="submit" class="btn btn-primary">Anmelden</button>
        </form>
    </div>
</div>