
@{
    ViewBag.Title = "Newsletter Bestätigung";
}

<h2>Nur noch ein Schritt...</h2>
Gleich haben sie es geschafft, bitte bestätigen sie noch das Verifizierungsmail das wir ihnen gerade gesendet haben.<br />
<br />
<br />
<br />
<br />
<br />

