@model bibliothek.at.Models.SearchRequest
@{
    ViewBag.Title = "Suche";
}

<h2>Suche</h2>

@using (Html.BeginForm("Suche", "Medien", FormMethod.Post, new { Class = "" }))
{
    <div class="input-group">
        @Html.TextBoxFor(model => model.SearchValue, new { Class = "form-control", placeholder = "Medien Suche ..." })

        <span class="input-group-btn">
            <input type="submit" value="Suchen" class="btn btn-default" />
        </span>
    </div>
}

<br />

@if (!string.IsNullOrEmpty(Model.SearchValue))
{
    <div id="jsGrid"></div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" rel="stylesheet" type="text/css" />


<script type="text/javascript">

    $('#SearchValue').focus();

    $("#jsGrid").jsGrid({
        width: "100%",
        height: "500px",

        filtering: true,
        inserting: false,
        editing: false,
        sorting: true,
        paging: true,
        autoload: true,

        pageSize: 10,
        pageButtonCount: 5,

        controller: {
            loadData: function (filter) {
                return $.ajax({
                    type: "GET",
                    url: "/Medien/GetData?search=@Model.SearchValue",
                    data: filter,
                    dataType: "json"
                });
            }
        },

        //data: clients,

        fields: [
            { name: "Id", type: "number", width: 60, title: "MNum." },
            { name: "MedienArt", type: "text", width: 30, title: "Art", css: "hidden-xs" },
            { name: "Systematik", type: "text", width: 40, title: "Sys.", css: "hidden-xs" },
            { name: "Status", type: "checkbox", width: 20, title: "V." },
            { name: "Sachtitel", type: "text", width: 300 },
            { name: "Verfasser", type: "text", width: 120 },
            
            //{ name: "Married", type: "checkbox", title: "Is Married", sorting: false },
            //{ type: "control" }
            {
                itemTemplate: function (_, item) {
                    //return $("<button>").text("Click Me")
                    //    .on("click", function () {
                    //        alert(item.Name);
                    //    });
                    var $text = $("<p>").text(item.MyField);
                    var $link = $("<a>").attr("class", "btn btn-primary btn-xs").attr("href", 'Detail/' + item.Id).text("Details");
                    return $("<div>").append($text).append($link);
                }
            }
        ]
    });

</script>


<div class="alert alert-info" role="alert">
    <h4 style="margin-top:5px;">Wie suche ich richtig</h4>
    <ul>
        <li>Titel, Verfasser, oder Schlagwort in das Feld „Medien Suche“ eingeben</li>
        <li>In den Feldern „Art”, „Systematik”, „Sachtitel“, „Verfasser“ kann die Suche verfeinert werden</li>
        <li>Mit dem Löschen der Granularisierung und drücken der Enter Taste wird die Suche schrittweise dem Initialen Ergebnis angepasst</li>
    </ul>
</div>