@{
    ViewBag.Title = "Kontakt";
}

<h2>Kontakt</h2>

<div class="row">
    <div class="col-xs-12 col-lg-4">
        <h3>Adresse</h3>
        <address>
            <strong>Bibliothek Klaus-Weiler</strong><br />
            Treietstrasse 17b<br />
            6833 Klaus<br />
        </address>

        <h3>Kontaktdaten</h3>
        <table class="table table-condensed">
            <tr>
                <th>Telefon:</th>
                <td>05523 / 6275016</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td><a href="mailto:info@bibliothek.at">info@bibliothek.at</a></td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 col-lg-8">
        <h3>Anfahrt</h3>
        <p>
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=b%C3%BCcherei+klaus+6833&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=39.916234,56.513672&amp;ie=UTF8&amp;hq=b%C3%BCcherei&amp;hnear=Klaus,+Feldkirch+District,+Vorarlberg,+Austria&amp;t=m&amp;fll=47.308118,9.647541&amp;fspn=0.008366,0.013797&amp;st=103338374097488094454&amp;rq=1&amp;ev=zi&amp;split=1&amp;ll=47.304925,9.646073&amp;spn=0.007275,0.012875&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
        </p>

    </div>
</div>

